<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <h1>Pagina no encontrada</h1>
      <p>No tienes acceso a esta pagina</p>
      <a href="/">Inicia sesion</a>
    </div>
  </div>
</div>