<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Farmacia La Pildora</h1>
  <p class="lead">En este Software podras gestionar todo tipo de ventas relacionadas 
    con la Farmacia entre muchas otras opciones.
  </p>
  <hr class="my-4" />
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signin"
      role="button"
    >Inicia sesion para acceder al Software</a>
  </div>
</div>