<div class="container mt-5">
  <h1 class="text-center mb-4">Menú Principal</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card menu-item" onclick="window.location='/products'">
        <img src="/img/medicamentos.jpg" class="card-img-top" alt="Medicamentos">
        <div class="card-body text-center">
          <h5 class="card-title">Medicamentos</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card menu-item" onclick="window.location='/offers'">
        <img src="/img/ofertas.jpg" class="card-img-top" alt="Ofertas">
        <div class="card-body text-center">
          <h5 class="card-title">Ofertas</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card menu-item" onclick="window.location='/inventory'">
        <img src="/img/inventario.jpg" class="card-img-top" alt="Inventario">
        <div class="card-body text-center">
          <h5 class="card-title">Inventario</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card menu-item" onclick="window.location='/receptions'">
        <img src="/img/recepcion.png" class="card-img-top" alt="Recepciones">
        <div class="card-body text-center">
          <h5 class="card-title">Recepciones</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card menu-item" onclick="window.location='/sales'">
        <img src="/img/ventas.jpg" class="card-img-top" alt="Ventas">
        <div class="card-body text-center">
          <h5 class="card-title">Ventas</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card menu-item" onclick="window.location='/orders'">
        <img src="/img/ordenes.jpg" class="card-img-top" alt="Órdenes">
        <div class="card-body text-center">
          <h5 class="card-title">Ordenes</h5>
        </div>
      </div>
    </div>
  </div>
</div>