body {
  background: #dfe7db;
}

.logo {
  width: 150px;
}

.bg-black {
  background: #000000;
}

.bg-custom {
  background-color: #b4d3b2; 
}
.bg-cont {
  background: #7b956d;
}

.menu-item {
  height: 100%;
  cursor: pointer; 
}

.menu-item img {
  height: 200px; 
  object-fit: cover; 
}

.menu-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05); 
  transition: 0.3s; 
}

.card-title {
  font-size: 1.2rem; 
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #b4d3b2;  
  color: #000000;  
}

.navbar-nav .dropdown-menu .dropdown-item {
  padding: 10px 15px; 
  text-decoration: none; 
}

.navbar-nav .dropdown-item {
  font-weight: bold;
}
.table {
  border: 1px solid #000000; 
}
.table th {
  background-color: rgb(255, 255, 255); 
  font-weight: bold;
}
.table td {
  background-color: #ffffff;  
  color: #000000;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.card-body {
  text-align: center;
}