<nav class="navbar navbar-expand-lg navbar-black p-3 bg-cont">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/menu">
      <img
        src="/img/logo.png" 
        alt="Logo"
        style="width: 40px; height: 40px; margin-right: 10px;"
      />Farmacia La Pildora</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav ms-auto"> 
        <!-- Si el usuario está logueado, mostrar el menú desplegable con las categorías -->
        {{#if user}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categorías
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/products">Productos</a>
              <a class="dropdown-item" href="/orders">Órdenes/Pedidos</a>
               <a class="dropdown-item" href="/receptions">Recepciones</a>
              <a class="dropdown-item" href="/inventory">Inventario</a>
              <a class="dropdown-item" href="/offers">Ofertas</a>
              <a class="dropdown-item" href="/sales">Ventas</a>
              <a class="dropdown-item" href="/providers">Proveedores</a>
              <a class="dropdown-item" href="/branches">Sucursales</a>
            </ul>
          </li>
          <a class="nav-link text-primary" href="/menu">Volver al Menú</a>
          <li class="nav-item">
            <a class="nav-link text-danger" href="/auth/logout">
              <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
            </a>
          </li>
        {{else}}
          <!-- Si el usuario no está logueado, mostrar las opciones de login y registro -->
          <li class="nav-item">
            <a class="nav-link" href="/auth/signin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Registro</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
